{% extends "base.html" %}

{% block title %}نسيت كلمة المرور{% endblock %}

{% block content %}
<div class="auth-page">
    <div class="container">

        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" class="auth-logo">

        <h2>استعادة كلمة المرور</h2>
        <p class="auth-subtitle">
            أدخل بريدك الإلكتروني المسجل في المنصة،
           وسيتم إرسال رابط آمن لإعادة تعيين كلمة المرور إلى بريدك الإلكتروني.
        </p>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <p class="flash-message {{ category }}">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action="{{ url_for('forgot_password') }}" method="POST">

            <div class="input-group">
                <i class="fa-solid fa-envelope input-icon"></i>
               <input type="email" id="email" name="email" placeholder="البريد الإلكتروني" required autocomplete="email">
            </div>

            <button type="submit">إرسال رابط إعادة التعيين</button>
        </form>

        <div class="link">
            <a href="{{ url_for('login_page') }}">العودة إلى تسجيل الدخول</a>
        </div>

    </div>
</div>

<script>
window.addEventListener("load", () => {
    const errorMessage = document.querySelector(".flash-message.error");
    const emailInput = document.getElementById("email");

    if (errorMessage && emailInput) {
        emailInput.classList.add("error");

        setTimeout(() => {
            emailInput.classList.remove("error");
        }, 500);
    }
});
</script>
{% endblock %}